<!DOCTYPE html>
<html>
<head>
    <title>Our Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='group_info.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: #772244;">
    <div class="container_home">
        <div class="overlap_bubble"><img src="static/imgs/bubble.png" alt="Bubble decoration"></div>
        <div class="overlap_stars"><img src="static/imgs/stars.png" alt="Star decoration"></div        >
        
        <div class="button-container">
            <a href="/"><button class="button2">Home</button></a>
            <a href="/groupinfo"><button class="button2">Group Info</button></a>
            <a href="/works"><button class="button2">Works</button></a>
        </div>
    
        <div class="body-container">
            <div class='groupinfo-page'>
                <h1 class="groupinfo_title">Who are Group 4?</h1>
                <p class="groupinfo_text">Group 4 consists of 7 individuals from BSCpE 2-3</p>
                
                <div class="groupmembers">
                    <div class="member">
                        <img src='/static/imgs/ampon.png' alt="Member 1">
                        <div class="description">
                            <h2 class="names">Ampon, Arsher Roey R.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://facebook.com/arsherroey" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/Arsher-Roey"><i class="fa fa-github"></i></a>
                            <a href="mailto:arsherroeyampon@gmail.com"><i class="fa fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/arsher-roey-ampon-893276358"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    
                    <div class="member">
                        <img src='/static/imgs/buensalida.jpg' alt="Member 2">
                        <div class="description">
                            <h2 class="names">Buensalida, Jimuel U.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://facebook.com/jimuel.buensalida" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/JimyNitram"><i class="fa fa-github"></i></a>
                            <a href="mailto:jimuel.buensalida@proton.me"><i class="fa fa-envelope"></i></a>
                        </div>                        
                    </div>
                    
                     <div class="member">
                        <img src='/static/imgs/dacilo.jpg' alt="Member 3">
                        <div class="description">
                            <h2 class="names">Dacillo, Aldrian Ralph M.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://facebook.com/aldrianralph.m.dacillo/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/AldrianDacillo"><i class="fa fa-github"></i></a>
                            <a href="mailto:dacilloaldrianralph22@gmail.com"><i class="fa fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/aldriandacillo/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    
                    <div class="member">
                        <img src='/static/imgs/gacer.png' alt="Member 4">
                        <div class="description">
                            <h2 class="names">Gacer, Andrei Bleir Y.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://facebook.com/bibibleir" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/bryghu"><i class="fa fa-github"></i></a>
                            <a href="mailto:andureigacer@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>                        
                    </div>
                    
                    <div class="member">
                        <img src='/static/imgs/marzan.jpg' alt="Member 5">
                        <div class="description">
                            <h2 class="names">Marzan Christian Rain L.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://www.facebook.com/share/1auGNJZpTQ/?mibextid=wwXIfr" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/marzanrain79-source"><i class="fa fa-github"></i></a>
                            <a href="mailto:marzanrain79@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                    
                    <div class="member">
                        <img src='/static/imgs/quintana.jpg' alt="Member 6">
                        <div class="description">
                            <h2 class="names">Quintana, Leigh Anne C.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://facebook.com/leigh.quintana27" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/egoxiess"><i class="fa fa-github"></i></a>
                            <a href="mailto:leighquintana275@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                    
                    <div class="member">
                        <img src='/static/imgs/vivas.jpg' alt="Member 7">
                        <div class="description">
                            <h2 class="names">Vivas, Zandrick Kirk Aaron E.</h2>
                        </div>
                        <div class="overlay">
                            <a href="https://facebook.com/share/1BZacLhR7J/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/dicehole"><i class="fa fa-github"></i></a>
                            <a href="mailto:zack.vivas01@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
